.nav-container {
	width: 95%;
}
.content-div, .seed, .plant {
	text-align: center;
}

.plantings-box, .plants-box {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.plant, .seed {
	width: 15em;
	border: 1px solid grey;
	border-radius: 5px;
}

.container-fluid {
	margin-top: 70px;

}

.reminders, .reminders:hover, .reminders:focus, .reminders:active {
	position: fixed;
	z-index: 10001;
	background-color: rgba(255, 255, 255,1);
	border: 1px solid rgb(51, 81, 158);
	border-radius: 5px;
}
