/**************PAGE****************/
body {
	background: linear-gradient(to bottom, rgba(254,254,254,0.3) 0%,rgba(254,254,254, 0.3) 100%), url("../img/shovel-garden1.jpg") no-repeat center bottom;
	background-size: cover;
  background-attachment: fixed;
}


/****************NAVBAR****************/
.fa-leaf {
	color: #1f741a
}

.nav, .navbar {
	background-color: #cccfbc;
}

.nav-container {
	width: 95%;
}

/*************GARDEN DISPLAY*************/
.content-div, .seed, .plant {
	text-align: center;
}
#seedToggle{
	margin-bottom: 0px;
	margin-top: 10px;
}
#seedStageHead{
	margin-top: 5px;
}

#seed-box {
	background-color: rgba(163, 118, 69, 0.9);
}
#plant-box {
	background-color: rgba(134, 148, 41, 0.9);
	margin-bottom: 20px;
}
#get-plants-box {
	background-color: rgba(121, 92, 59, 0.9);
	margin-bottom: 20px;
}
.plant {
	background: linear-gradient(rgba(134, 148, 41, 0.9), rgba(117, 148, 41, 0.9));
}

.plantings-box, .plants-box {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-around;
	border: 3px solid grey;
	padding: 20px;
	min-width: 100%;
	min-height: 15em;
	margin-left: -17.6px;
	margin-right: -17.6px;
}

.plant, .seed {
	width: 15em;
	margin: 5px;
	border: 1px solid grey;
	border-radius: 5px;
	padding-bottom: 5px;
	background-repeat: no-repeat;
	background-position: center;
}

/*********************GET PLANTS PAGE******************/
#searchString {
	margin-bottom: 10px;
}


/* ****** BACKGROUNDS FOR PLANT BOXES*********/
.stage0 {
	background-image: linear-gradient(to bottom, rgba(254,254,254,0.75) 0%,rgba(254,254,254, 0.75) 100%), url("../img/icons/stage0.svg");

}
.stage1 {
	background-image: linear-gradient(to bottom, rgba(254,254,254,0.75) 0%,rgba(254,254,254, 0.75) 100%), url("../img/icons/stage1.svg");

}
.stage2 {
	background-image: linear-gradient(to bottom, rgba(254,254,254,0.75) 0%,rgba(254,254,254, 0.75) 100%), url("../img/icons/stage2.svg");
	background-repeat: no-repeat;

}
.stage3 {
	background-image: linear-gradient(to bottom, rgba(254,254,254,0.75) 0%,rgba(254,254,254, 0.75) 100%), url("../img/icons/stage3.svg");

}
.stage4 {
	background-image: linear-gradient(to bottom, rgba(254,254,254,0.75) 0%,rgba(254,254,254, 0.75) 100%), url("../img/icons/stage4.svg");
}
/* ****** BACKGROUNDS FOR PLANT BOXES*********/


.container-fluid {
	margin-top: 70px;
}


/***********REMINDER TOGGLE BTN*********/
.reminders, .reminders:hover, .reminders:focus, .reminders:active {
	position: fixed;
	z-index: 10001;
	background-color: #4d9532;
	border: 1px solid #507642;
	border-radius: 5px;
}
a#menu-toggle {
	margin-top: 25px;
	margin-left: -35px;
	background-color: #cccfbc;
}
a#menu-toggle:hover {
	background-color: #b3c496;
}
.fa-bell-o {
	color: #507642;
	font-size: 22px;
	margin-right: -5px;
	margin-left: -5px;
	margin-bottom: -8px;
}

/***********EMPTY BOX MESSAGES***********/
#noPlants {
	text-align: center;
	display: none;
}
#noSeeds {
	text-align: center;
	display: none;
}

/***************REMINDERS***************/
.reminder {
	color: #8e8e8e;

}
.reminderDetail {
	display: none;
}
#remindersHead {
	color: #869429;
	margin-bottom: 0;
	margin-left: 15px;
}
#showComplete {
	margin-left: 5px;
	font-size: 15px;
	color: #a7b493;
}
#completeCheck {
	margin-top: -10px;
}
.reminderTitle{
	margin-left: 10px;
}
.detailClick {
	color: #e9e9e9;
	text-align: center;
}
.detailClick:hover {
	color: #507642;
	cursor: pointer;
}
.reminderHeadDivider {
	margin-bottom: 0;
}
.reminderDivider {
	margin-top: 0;
	margin-bottom: 0;
	background-color: #403526;
	color: #403526;
}

/*****************POPUP*****************/
.popup {
	text-align: center;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:none;
	position:fixed;
	background-color: rgba(110, 110, 110, 0.75);
	overflow:auto;
	z-index: 1000001;
}
div.popupAddPlant {
	background-color: #869429;
	border: 3px solid black;
	opacity: 1;
	border-radius: 10px;
	position: fixed;
	left:55%;
	top:40%;
	padding: 15px 30px;
	margin-left:-202px;
	font-family:'Raleway',sans-serif
}
.btn {
	opacity: 1;
}
.popup-label {
	color: #ffffff;
}
.qtyInput {
	width: 40px;
}
.black-text {
	color: black;
}

/***********BUTTONS***************/
.btn.btn-primary {
	background-image: linear-gradient(to bottom,#52903c 0,#507642 100%);
	background-repeat: repeat-x;
	border-color: #507642;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	border-color: #507642;
	background-color: #507642;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
	border-color: #507642;
	background-color: #507642;
}

input:checked {
	color: #869429;
}
