/****************NAVBAR****************/
.fa-leaf {
	color: #1f741a
}

.nav, .navbar {
	background-color: #c8c8c8;
}

.nav-container {
	width: 95%;
}

/*************GARDEN DISPLAY*************/
.content-div, .seed, .plant {
	text-align: center;
}

.plantings-box, .plants-box {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-around;
	border: 3px solid grey;
	border-radius: 10px;
	padding: 20px;
	min-width: 30em;
	min-height: 15em;
}

.plant, .seed {
	width: 15em;
	margin: 5px;
	border: 1px solid grey;
	border-radius: 5px;
	padding-bottom: 5px;
}

.container-fluid {
	margin-top: 70px;
}


/***********REMINDER TOGGLE BTN*********/
.reminders, .reminders:hover, .reminders:focus, .reminders:active {
	position: fixed;
	z-index: 10001;
	background-color: rgba(255, 255, 255,1);
	border: 1px solid rgb(51, 81, 158);
	border-radius: 5px;
}
a#menu-toggle {
	margin-left: -55px;
	background-color: #c8c8c8;
}
.fa-bell-o {
	font-size: 22px;
	margin-right: -5px;
	margin-left: -5px;
	margin-bottom: -8px;
}

/***********EMPTY BOX MESSAGES***********/
#noPlants {
	text-align: center;
	display: none;
}
#noSeeds {
	text-align: center;
	display: none;
}

/***************REMINDERS***************/
.reminderDetail {
	display: none;
}
#remindersHead {
	color: #e0e0e0;
	margin-bottom: 0;
	margin-left: 15px;
}
#showComplete {
	margin-left: 5px;
	font-size: 15px;
	color: #949494;
}
#completeCheck {
	margin-top: -10px;
}

/*****************POPUP*****************/
.popup {
	text-align: center;
	width:100%;
	height:100%;
	opacity:.98;
	top:0;
	left:0;
	display:none;
	position:fixed;
	background-color:#292318;
	overflow:auto;
	z-index: 1000001;
}
div.popupAddPlant {
	background-color: #256019;
	border: 3px solid black;
	opacity: 1;
	border-radius: 10px;
	position: fixed;
	left:55%;
	top:40%;
	padding: 15px 30px;
	margin-left:-202px;
	font-family:'Raleway',sans-serif
}
.btn {
	opacity: 1;
}
.popup-label {
	color: rgb(255, 255, 255);
}
.qtyInput {
	width: 40px;
}
.black-text {
	color: black;
}
